body{
    width: 100vw;
    height: 100vh;
    font-style: normal;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #b2e7e8;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
  }

nav {
    margin-bottom: 20px; 
    background-color: #304d63; 
}

.navbar-brand {
    color: white;
    font-size: 30px;
}

footer .footer {
    margin-top: 50px;
    background-color: #304d63;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 20px 0 ;
}

#localidade, #cep, #ibge {
   max-width: 300px;
}

#uf, #ddd {
    max-width: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
